$class: ".gov-form-password-power";

#{$class} {
    display: flex;
    align-items: center;
    width: 100%;
    gap: rem-calc(24);
    height: rem-calc(24);
    &__bar {
        display: flex;
        gap: rem-calc(4);
        width: 100%;
        span {
            display: inline-block;
            width: 100%;
            height: $form-password-power-height;
            border-radius: $form-password-power-radius;
            background-color: $form-password-power-color;
        }
    }
    &__text {
        @include typography($font-size-s);
        text-align: right;
        flex-basis: rem-calc(56);
    }

    // STATES
    &[power="1"] {
        color: $form-password-power-color-weak;
        #{$class}__bar {
            span:nth-child(1) {
                background-color: $form-password-power-color-weak;
            }
        }
    }
    &[power="2"] {
        color: $form-password-power-color-medium;
        #{$class}__bar {
            span:nth-child(1),
            span:nth-child(2) {
                background-color: $form-password-power-color-medium;
            }
        }
    }
    &[power="3"] {
        color: $form-password-power-color-strong;
        #{$class}__bar {
            span {
                background-color: $form-password-power-color-strong;
            }
        }
    }
}
