$class: ".gov-skeleton";

#{$class} {
	&__loader {
		position: relative;
		display: inline-block;
		width: $skeleton-width;
		height: $skeleton-height;
		border-radius: $skeleton-border-radius;
		outline: none;
		overflow: hidden;
		box-sizing: border-box;
		will-change: transform;

		+ #{$class}__loader {
			margin-top: $skeleton-margin-top;
		}

		&.circle {
			width: $skeleton-circle-size;
			height: $skeleton-circle-size;
			border-radius: $skeleton-circle-radius;
		}

		&.rect {
			border-radius: $skeleton-rect-radius;
		}

		&.progress {
			background-size: 200px 100%;
			animation: progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
		}

		&.pulse {
			animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
			animation-delay: 0.5s;
		}

		@media (prefers-reduced-motion: reduce) {
			&.pulse,
			&.progress {
				background-image: none;
				animation: none;
			}
		}
	}

	@each $variant, $definitions in $skeleton-variants {
		&[variant="#{$variant}"] {
			#{$class}__loader {
				background-color: get("background", $definitions);
				background-repeat: no-repeat;

				&.progress {
					background-image: linear-gradient(90deg, get("background", $definitions), get("foreground", $definitions), get("background", $definitions));
				}
			}
		}
	}
}
