gov-form-search:not(.hydrated) {
	@include base(flex);
	gap: rem-calc(8);
	align-items: center;
	border-radius: $border-radius;
	background-color: $form-bg-color;

	gov-form-input {
		flex: 1 1 auto;
		height: auto;
		border-width: 0 !important;
	}

	gov-button {
		flex: 0 0 auto;
		margin: rem-calc(3) rem-calc(3) rem-calc(3) 0;
	}

	@each $variant, $definitions in $form-input-core-variants {
		&[variant="#{$variant}"] {
			border: get("border", $definitions);
		}
	}
}
