gov-form-select:not(.hydrated) {
	@include base(flex);
	align-items: center;
	position: relative;
	width: 100%;
	border-radius: $border-radius;
	background-color: $form-bg-color;
	font-family: $font-family-primary;

	// VARIANTS
	@each $size, $definitions in $form-input-core-sizes {
		&[size="#{$size}"] {
			@include typography(get("font", $definitions));
			gap: rem-calc(8) get("icon-size", $definitions);
			height: get("height", $definitions);
			padding: get("padding", $definitions);
		}
	}

	@each $variant, $definitions in $form-input-core-variants {
		&[variant="#{$variant}"] {
			color: get("color", $definitions);
			border: get("border", $definitions);
		}
	}

	@include parameter("multiline") {
		height: rem-calc(90);
	}

	@include parameter("disabled") {
		pointer-events: none;
		border-color: $form-state-color-disabled;
		background: $form-state-bg-input-disabled;
		color: $form-state-color-disabled;
	}

	option {
		display: none;
	}
	option[selected] {
		display: inline-block;
	}
}
