gov-branding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: rem-calc(2 0);

  h1 {
    font-weight: var(--gov-text-3xl-font-weight);
    font-size: var(--gov-text-3xl-font-size);
    line-height: var(--gov-text-3xl-line-height);
    letter-spacing: var(--gov-text-3xl-letter-spacing);

    & a {
      text-decoration: none;
      color: var(--gov-nav-color, var(--gov-color-neutral-white));

      &:hover {
        color: var(--gov-nav-color, var(--gov-color-neutral-white));
      }
    }
  }

  & div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    & gov-form-search:not(.hydrated),
    gov-form-search.gov-form-search {
      width: 34rem;
    }

    & gov-form-select:not(.hydrated),
    gov-form-select.gov-form-select {
      width: 10rem;

      & gov-icon {
        color: var(--gov-form-input-color-secondary, var(--gov-color-secondary-700));
      }
    }
  }
}
