$path: "../";
$version: "4.0.0";
$prefix: "gov-";

// Extends
@import "extends";

// Functions
@import "functions/helpers";
@import "functions/get";
@import "functions/sizes";

// Variables - main
@import "variables/mq";

// Mixins
@import "mixins/basic";
@import "mixins/buttons";
@import "mixins/general";
@import "mixins/colors";
@import "mixins/container";
@import "mixins/grid";
@import "mixins/hex-to-rgb";
@import "mixins/mq";
@import "mixins/offset";
@import "mixins/placeholder";
@import "mixins/pseudo";
@import "mixins/space";
@import "mixins/typography";
@import "mixins/string";
@import "mixins/unit";
@import "mixins/make-var";
@import "mixins/wcag";
@import "mixins/z-index";

// Variables - main
@import "variables/general";
@import "variables/typography";
@import "variables/variants";
@import "variables/container";
@import "variables/sizes";

// Variables - components
@import "variables/accordion";
@import "variables/attachments";
@import "variables/infobar";
@import "variables/backdrop";
@import "variables/buttons";
@import "variables/breadcrumbs";
@import "variables/classes";
@import "variables/colors";
@import "variables/control-group";
@import "variables/cookiebar";
@import "variables/dropdown";
@import "variables/card";
@import "variables/message";
@import "variables/empty";
@import "variables/error-code";
@import "variables/grid";
@import "variables/tiles";
@import "variables/modal";
@import "variables/offsets";
@import "variables/shadow";
@import "variables/statsbar";
@import "variables/tabs";
@import "variables/tooltip";
@import "variables/loading";
@import "variables/form";
@import "variables/form-autocomplete";
@import "variables/form-message";
@import "variables/form-label";
@import "variables/form-switch";
@import "variables/form-select";
@import "variables/form-input";
@import "variables/form-multiselect";
@import "variables/form-password-power";
@import "variables/form-checkbox";
@import "variables/form-group";
@import "variables/form-file";
@import "variables/toast-message";
@import "variables/wizard";
@import "variables/stepper";
@import "variables/side-nav";
@import "variables/tile";
@import "variables/pagination";
@import "variables/nav";
@import "variables/layout";
@import "variables/tag";

// Animations
@import "animations/spin";
@import "animations/countdown";
@import "animations/progress";
@import "animations/pulse";
