%reset-ul {
	margin: 0;
	padding: 0;
}

%reset-ul-li {
	margin: 0;
	padding: 0;
	background: none;
	&::before {
		display: none;
	}
}

%link-mask {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
}
