.gov-datepicker {
    position: relative;

    .gov-calendar {
        position: absolute;
        left: 0; bottom: rem-calc(-5);
        @include z-index('modal', -2);

        transform: translateY(100%);
    }
}
