.gov-feedback-bar {
    &__title {
        margin-bottom: rem-calc(5);
        max-width: 270px;
    }

    .gov-layout__col--pos-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
