.gov-hero-banner {
    display: flex;
    flex-direction: row;
    padding: rem-calc(50 0);

    &__content {
        flex: 1;
        margin-right: rem-calc(40);
        max-width: 650px;
    }

    &__media {
        flex: 1.5;
    }

    &:not(.gov-hero-banner--branded) {
        .gov-hero-banner__headline {
            margin-bottom: rem-calc(10);
        }
    }

    /* Type related modifications
    ------------------------------------------------------------------ */
    &--complex {
        padding: rem-calc(30 0);
    }

    &--branded {
        position: relative;

        padding-bottom: rem-calc(110);

        &:after {
            @include pseudo(block, absolute, url($domain + 'assets/images/_global/watermarks/_gov-white.svg' + '?v=' + $versionKey));
            top: rem-calc(-10); right: 0;

            width: 712px;

            opacity: 0.08;
            transform: translateX(30%);
        }
    }

    /* RESPONSE
    ------------------------------------------------------------------ */
    @include mq($from: tablet) {
        &__headline {
            font-size: rem-calc(50);
            line-height: 1.28;
        }
    }

    @include mq($until: tablet) {
        flex-direction: column;
        padding: rem-calc(20 0);

        &__content {
            margin-right: 0;
        }

        &__media {
            order: -1;
            padding-bottom: rem-calc(25);
        }

        &--branded {
            &:after {
                top: rem-calc(30);

                width: 356px;

                transform: translateX(25%);
            }
        }
    }
}
