.gov-review-form {
    &__group {
        margin-bottom: rem-calc(40);

        &:not(:first-of-type) {
            position: relative;

            padding-top: rem-calc(40);

            &:before {
                @include pseudo();
                left: 0; right: 0; top: 0;

                height: 1px;

                background-color: gov-colors('grey-inactive');
            }
        }

        .gov-form-control {
            &:not(.gov-form-control--custom) {
                max-width: 400px;
            }
        }

        .gov-rating {
            &:not(:last-of-type) {
                margin-bottom: rem-calc(20);
            }
        }
    }

    &__btns {
        padding-top: rem-calc(40);

        button:first-of-type {
            margin-right: rem-calc(10);
        }
    }

    /*  RESPONSE
    ------------------------------------------------------------------ */
    @include mq($until: mobile) {
        &__group {
            margin-bottom: rem-calc(30);

            &:not(:first-of-type) {
                padding-top: rem-calc(30);
            }
        }

        &__btns {
            button:first-of-type {
                margin-right: 0;
                margin-bottom: rem-calc(10);
            }
        }
    }
}
