$class: '.gov-category-list';

#{$class} {
    display: block;
    padding: rem-calc(20 0);
    width: 100%;

    &__inner {
        display: flex;
        width: 100%;
    }

    &__col {
        flex: 1;
    }

    &__col-inner {
        position: relative;

        min-height: 100%;

        &:after {
            content: '';
            position: absolute;
            right: 0; top: 0; bottom: 0;

            width: 1px;

            background-color: gov-colors('grey-inactive');
        }
    }

    &__back-btn {
        display: inline-block;
        margin-left: rem-calc(10) * -1;

        cursor: pointer;
        text-decoration: none;
        vertical-align: middle;

        &:after {
            @include pseudo(block, relative, '\63');

            color: gov-colors('blue');
            font-family: $gov-icon-font;
            font-size: 24px;
        }
    }

    &__nav {
        position: relative;
        z-index: 2;

        #{$class}__nav-item {
            margin-bottom: 0;
        }
    }

    &__nav-item {
        &:before {
            display: none;
        }
    }

    &__nav-link {
        display: block;
        padding: rem-calc(15) rem-calc(20);
        padding-right: rem-calc(30);
        width: 100%;

        color: gov-colors('blue');
        cursor: pointer;
        text-decoration: none;

        transition: background-color 256ms ease-out;
        will-change: background-color;

        &:after {
            @include pseudo(block, absolute, '\65');
            right: rem-calc(10); top: rem-calc(8);

            font-family: $gov-icon-font;
            font-size: rem-calc(24);
        }

        .gov-note {
            max-width: 90%;
        }

        &.is-active {
            background-color: gov-colors('blue');
            color: gov-colors('white');

            .gov-link {
                color: gov-colors('white');
                text-decoration: none;
            }

            .gov-note {
                color: gov-colors('white');
            }
        }

        @include hover() {
            background-color: gov-colors('blue');
            color: gov-colors('white');
            text-decoration: none;

            .gov-link {
                color: gov-colors('white');
                text-decoration: none;
            }

            .gov-note {
                color: gov-colors('white');
            }
        }
    }

    &__subcategories,
    &__tasks {
        #{$class}__col-inner {
            display: none;

            &.is-active {
                display: block;
            }
        }

        #{$class}__content {
            padding: rem-calc(0 20)
        }

        .gov-note {
            margin-top: rem-calc(10);
        }
    }

    /*  RESPONSE
    ------------------------------------------------------------------ */
    @include mq($from: tablet) {
        &__subcategories,
        &__tasks {
            #{$class}__content,
            #{$class}__nav-link {
                padding-left: rem-calc(40);
            }
        }

        &__tasks {
            #{$class}__back-btn {
                display: none;
            }
        }
    }

    @include mq($until: tablet) {
        overflow: hidden;

        &__inner {
            width: 200%;
        }

        &__subcategories {
            #{$class}__col-inner {
                &:after {
                    display: none;
                }
            }
        }

        &.tasks-visible {
            #{$class}__inner {
                transform: translateX(-50%);
            }
        }
    }

    @include mq($from: palm) {
        &__col {
            flex: 1;

            &--wide {
                flex: 2;

                #{$class}__col-inner {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        &__subcategories {
            #{$class}__back-btn {
                display: none;
            }
        }
    }

    @include mq($until: palm) {
        position: relative;
        left: rem-calc(-20);

        width: 100vw;

        &__inner {
            width: 300%;
        }

        &__col-inner {
            &:after {
                display: none;
            }
        }

        &.subcategories-visible {
            #{$class}__inner {
                transform: translateX(-33.3333334%);
            }
        }

        &.tasks-visible {
            #{$class}__inner {
                transform: translateX(-66.6666667%);
            }

            #{$class}__subcategories {
                #{$class}__col-inner {
                    display: none;
                }
            }
        }

        &.subcategories-visible,
        &.tasks-visible {
            #{$class}__categories {
                #{$class}__col-inner {
                    display: none;
                }
            }
        }
    }
}
