$class: '.gov-feedback-form';

#{$class} {
    &__fieldset {
        display: none;
        margin-top: rem-calc(46);
        padding: 0;
        max-width: 600px;

        border: none;

        & > legend {
            position: relative;
            width: 100%;

            &.gov-title--gamma {
                margin-bottom: rem-calc(20);
            }

            &.gov-perex {
                margin-bottom: rem-calc(10);
            }

            &:after {
                @include pseudo();
                left: 0; right: 0; top: rem-calc(-25);

                height: 1px;

                background-color: gov-colors('blue-inactive-1');
            }
        }

        & > .gov-form-control {
            margin-bottom: rem-calc(25);
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        //  ----------
        &--noborder {
            margin-top: 0;
            padding-top: 0;

            & > legend:after {
                display: none;
            }
        }

        //  ----------
        &.is-active {
            display: block;
        }
    }

    /*  Inversed
    ------------------------------------------------------------------ */
    &--inversed {
        #{$class}__fieldset {
            &:after {
                background-color: gov-colors('blue-hover');

                opacity: 0.3;
            }
        }
    }
}
