.gov-promo-banner {
    display: flex;
    flex-direction: column;

	&__content,
	&__image {
		@media screen and (min-width: em-calc(600)) {
			width: 50%;
		}
	}

	&__image {
		order: -1;

		margin-bottom: rem-calc(40);
	}
}

@media screen and (min-width: em-calc(600)) {
    .gov-promo-banner {
        flex-direction: row;

        &__content,
        &__image {
            width: 50%;
        }

        &__content {
            padding-right: em-calc(20);
        }

        &__image {
            order: unset;

            margin-bottom: 0;
        }
    }
}
