.gov-rating {
    display: flex;

    .gov-form-control,
    &__label {
        margin-bottom: 0;

        &--max {
            margin-right: rem-calc(25);
        }

        &--min {
            margin-left: rem-calc(-5);
        }
    }

    .gov-form-control {
        &:not(.gov-form-control--error) {
            &:not(.gov-form-control--inversed) {
                .gov-form-control__label {
                    color: gov-colors('blue');
                }
            }
        }
    }

    /*  RESPONSE
    ------------------------------------------------------------------ */
    @include mq($until: tablet-landscape, $from: tablet) {
        display: block;

        &__label {
            &:first-of-type {
                margin-bottom: rem-calc(5);
            }

            &:last-of-type {
                max-width: 335px;

                text-align: right;
            }
        }

        &__item {
            display: block;
        }
    }

    @include mq($until: mobile-landscape) {
        display: block;

        &__label {
            &:first-of-type {
                margin-bottom: rem-calc(5);
            }
        }

        &__item {
            display: block;
        }
    }

    @include mq($until: mobile-landscape, $from: palm) {
        &__label {
            &:last-of-type {
                max-width: 335px;

                text-align: right;
            }
        }
    }
}
