.gov-search-map {
    padding-top: rem-calc(15);

    &__figure {
        margin: rem-calc(25) 0;

        * {
            max-width: 100%;
        }

        img {
            max-width: none !important;
        }
    }

    .gov-grid {
        .gov-link--standalone {
            margin-left: rem-calc(-6);
        }
    }

    .gov-note {
        @extend .u-color--grey-mid;

        margin-top: rem-calc(10);
    }

    .smap-suggest {
        @extend .gov-list--plain;
    }

    /*  RESPONSE
    ------------------------------------------------------------------ */
    @include mq($from: tablet) {
        .gov-search {
            max-width: 50%;
        }
    }

    @include mq($from: palm) {
        &__result {
            &.is-selected {
                background-color: gov-colors('blue-hover');
            }
        }
    }

    @include mq($until: palm) {
        &__figure {
            margin-bottom: 0;
        }

        &__result {
            &.is-selected {
                &:after {
                    @include pseudo();
                    left: rem-calc(-20);
                    right: rem-calc(-20);
                    top: rem-calc(-1);
                    bottom: 0;

                    background-color: gov-colors('blue-hover');
                }

                * {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
}
