gov-nav gov-nav-dropdown {
  cursor: pointer;
  // Relative position we can position child the drop down.
  position: relative;
}

gov-nav gov-nav-dropdown .dropdown {
  display: none;
}

gov-nav gov-nav-dropdown.open .dropdown {
  display: block;
  background-color: var(--gov-nav-bg, var(--gov-color-primary));

  & ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0.2rem 0;
    & li {
      text-align: left;
      padding: 0.75rem 0.5rem;
      margin: 0 0.5rem;
      border-left: 0.175rem solid var(--gov-nav-bg, var(--gov-color-primary));

      & a {
        text-decoration: none;
        color: var(--gov-nav-color, var(--gov-color-neutral-white));
      }

      &:hover {
        transition: border 400ms ease-out;
        border-left-color: white;
      }

    }
  }
}

@media (max-width: 47.99em) {
  gov-nav gov-nav-dropdown.open .dropdown {
    width: 100%;
  }
}

@media (min-width: 47.99em) {
  gov-nav gov-nav-dropdown.open .dropdown {
    position: absolute;
    width: max-content;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translate(0px, 4rem);
  }
}
