html,
body {
	margin: 0;
	padding: 0;
}
.container-view {
	padding: 12px;
}

hr {
	height: 0;
	border: 0 none;
	border-top: 1px solid gainsboro;
	font-size: 0;
}

hr.inversed {
	border-top-color: #254e80;
}
