/*
 -  Variables - Buttons (&& Chips)
 */

$button-border-width: make-var("button-border-width", rem-calc(1));

$button-sizes: (
	$size-xs: (
		"padding-x": make-var(button-xs-padding-x, rem-calc(10)),
		"padding-y": make-var(button-xs-padding-y, rem-calc(2)),
		"min-height": make-var(button-xs-min-height, rem-calc(24)),
		"icon-size": make-var(button-xs-icon-size, rem-calc(16)),
		"font": $font-size-xs,
		"font-weight": make-var(button-xs-font-weight, 700),
	),
	$size-s: (
		"padding-x": make-var(button-s-padding-x, rem-calc(12)),
		"padding-y": make-var(button-s-padding-y, rem-calc(4)),
		"min-height": make-var(button-s-min-height, rem-calc(32)),
		"icon-size": make-var(button-s-icon-size, rem-calc(16)),
		"font": $font-size-xs,
		"font-weight": make-var(button-s-font-weight, 700),
	),
	$size-m: (
		"padding-x": make-var(button-m-padding-x, rem-calc(12)),
		"padding-y": make-var(button-m-padding-y, rem-calc(6)),
		"min-height": make-var(button-m-min-height, rem-calc(40)),
		"icon-size": make-var(button-m-icon-size, rem-calc(20)),
		"font": $font-size-s,
		"font-weight": make-var(button-m-font-weight, 700),
	),
	$size-l: (
		"padding-x": make-var(button-l-padding-x, rem-calc(16)),
		"padding-y": make-var(button-l-padding-y, rem-calc(8)),
		"min-height": make-var(button-l-min-height, rem-calc(48)),
		"icon-size": make-var(button-l-icon-size, rem-calc(24)),
		"font": $font-size-m,
		"font-weight": make-var(button-l-font-weight, 700),
	),
	$size-xl: (
		"padding-x": make-var(button-xl-padding-x, rem-calc(20)),
		"padding-y": make-var(button-xl-padding-y, rem-calc(12)),
		"min-height": make-var(button-xl-min-height, rem-calc(56)),
		"icon-size": make-var(button-xl-icon-size, rem-calc(28)),
		"font": $font-size-xl,
		"font-weight": make-var(button-xl-font-weight, 700),
	),
);

$button-variants: (
	$variant-primary: (
		solid: (
			bg: make-var(button-primary-solid-bg, color("primary")),
			color: make-var(button-primary-solid-color, color("neutral.white")),
			disabled-bg: make-var(button-primary-solid-disabled-bg, color("primary.300")),
			disabled-color: make-var(button-primary-solid-disabled-color, color("neutral.white")),
			hover-bg: make-var(button-primary-solid-hover-bg, color("primary.700")),
			hover-color: make-var(button-primary-solid-hover-color, color("neutral.white")),
			active-bg: make-var(button-primary-solid-active-bg, color("primary.800")),
			inverse-color: make-var(button-primary-solid-inverse-color, color("primary")),
			inverse-bg: make-var(button-primary-solid-inverse-bg, color("primary.200")),
			inverse-hover-bg: make-var(button-primary-solid-inverse-hover-bg, color("primary.700")),
			inverse-hover-color: make-var(button-primary-solid-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-primary-solid-inverse-active-bg, color("primary.800")),
			inverse-focus-bg: make-var(button-primary-solid-inverse-focus-bg, color("neutral.white")),
			inverse-disabled-color: make-var(button-primary-solid-inverse-disabled-color, color("primary.400")),
			inverse-disabled-bg: make-var(button-primary-solid-inverse-disabled-bg, color("primary.300")),
		),
		outlined: (
			border: make-var(button-primary-outlined-border, color("primary")),
			color: make-var(button-primary-outlined-color, color("primary")),
			hover-bg: make-var(button-primary-outlined-hover-bg, color("primary.100")),
			hover-color: make-var(button-primary-outlined-hover-color, color("primary")),
			active-bg: make-var(button-primary-outlined-active-bg, color("primary.300")),
			disabled-bg: make-var(button-primary-outlined-disabled-bg, transparent),
			disabled-color: make-var(button-primary-outlined-disabled-color, color("primary.400")),
			disabled-border: make-var(button-primary-outlined-disabled-border, color("primary.300")),
			inverse-color: make-var(button-primary-outlined-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-primary-outlined-inverse-bg, transparent),
			inverse-border: make-var(button-primary-outlined-inverse-border, color("neutral.white")),
			inverse-hover-bg: make-var(button-primary-outlined-inverse-hover-bg, color("primary.500")),
			inverse-hover-color: make-var(button-primary-outlined-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-primary-outlined-inverse-active-bg, color("primary.400")),
			inverse-focus-bg: make-var(button-primary-outlined-inverse-focus-bg, transparent),
			inverse-disabled-color: make-var(button-primary-outlined-inverse-disabled-color, color("primary.400")),
			inverse-disabled-bg: make-var(button-primary-outlined-inverse-disabled-bg, color("primary.300")),
			inverse-disabled-border-color: make-var(button-primary-outlined-inverse-disabled-border-color, color("primary.400")),
		),
		base: (
			color: make-var(button-primary-base-color, color("primary")),
			hover-bg: make-var(button-primary-base-hover-bg, color("primary.100")),
			hover-color: make-var(button-primary-base-hover-color, color("primary")),
			active-bg: make-var(button-primary-base-active-bg, color("primary.300")),
			disabled-color: make-var(button-primary-base-disabled-color, color("primary.400")),
			inverse-color: make-var(button-primary-base-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-primary-base-inverse-bg, transparent),
			inverse-hover-color: make-var(button-primary-base-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-primary-base-inverse-hover-bg, color("primary.500")),
			inverse-active-color: make-var(button-primary-base-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-primary-base-inverse-active-bg, color("primary.400")),
			inverse-disabled-color: make-var(button-primary-base-inverse-disabled-color, color("primary.400")),
			inverse-disabled-bg: make-var(button-primary-base-inverse-disabled-bg, color("primary.300")),
		),
		link: (
			color: make-var(button-primary-link-color, color("primary")),
			hover-bg: make-var(button-primary-link-hover-bg, transparent),
			hover-color: make-var(button-primary-link-hover-color, color("primary")),
			active-color: make-var(button-primary-link-active-color, color("primary.700")),
			active-bg: make-var(button-primary-link-active-bg, transparent),
			disabled-color: make-var(button-primary-link-disabled-color, color("primary.400")),
			inverse-color: make-var(button-primary-link-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-primary-link-inverse-bg, transparent),
			inverse-hover-color: make-var(button-primary-link-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-primary-link-inverse-hover-bg, transparent),
			inverse-active-color: make-var(button-primary-link-inverse-active-color, color("primary.200")),
			inverse-active-bg: make-var(button-primary-link-inverse-active-bg, transparent),
			inverse-disabled-color: make-var(button-primary-link-inverse-disabled-color, color("primary.400")),
			inverse-disabled-bg: make-var(button-primary-link-inverse-disabled-bg, transparent),
		),
	),
	$variant-secondary: (
		solid: (
			bg: make-var(button-secondary-solid-bg, color("secondary")),
			color: make-var(button-secondary-solid-color, color("neutral.white")),
			disabled-bg: make-var(button-secondary-solid-disabled-bg, color("secondary.300")),
			disabled-color: make-var(button-secondary-solid-disabled-color, color("secondary.600")),
			hover-bg: make-var(button-secondary-solid-hover-bg, color("secondary.900")),
			hover-color: make-var(button-secondary-solid-hover-color, color("neutral.white")),
			active-bg: make-var(button-secondary-solid-active-bg, color("secondary")),
			inverse-color: make-var(button-secondary-solid-inverse-color, color("secondary")),
			inverse-bg: make-var(button-secondary-solid-inverse-bg, color("neutral.white")),
			inverse-hover-bg: make-var(button-secondary-solid-inverse-hover-bg, color("secondary.600")),
			inverse-hover-color: make-var(button-secondary-solid-inverse-hover-color, color("neutral.white")),
			inverse-active-color: make-var(button-secondary-solid-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-secondary-solid-inverse-active-bg, color("secondary.700")),
			inverse-focus-bg: make-var(button-secondary-solid-inverse-focus-bg, color("neutral.white")),
			inverse-disabled-color: make-var(button-secondary-solid-inverse-disabled-color, color("secondary.600")),
			inverse-disabled-bg: make-var(button-secondary-solid-inverse-disabled-bg, color("neutral.white")),
		),
		outlined: (
			border: make-var(button-secondary-outlined-border, color("secondary")),
			color: make-var(button-secondary-outlined-color, color("secondary")),
			hover-bg: make-var(button-secondary-outlined-hover-bg, color("secondary.300")),
			hover-color: make-var(button-secondary-outlined-hover-color, color("secondary")),
			active-bg: make-var(button-secondary-outlined-active-bg, color("secondary.400")),
			disabled-bg: make-var(button-secondary-outlined-disabled-bg, transparent),
			disabled-color: make-var(button-secondary-outlined-disabled-color, color("secondary.500")),
			disabled-border: make-var(button-secondary-outlined-disabled-border, color("secondary.500")),
			inverse-color: make-var(button-secondary-outlined-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-secondary-outlined-inverse-bg, transparent),
			inverse-border: make-var(button-secondary-outlined-inverse-border, color("neutral.white")),
			inverse-hover-bg: make-var(button-secondary-outlined-inverse-hover-bg, color("secondary.700")),
			inverse-hover-color: make-var(button-secondary-outlined-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-secondary-outlined-inverse-active-bg, color("secondary.600")),
			inverse-active-color: make-var(button-secondary-outlined-inverse-active-color, color("secondary")),
			inverse-focus-bg: make-var(button-secondary-outlined-inverse-focus-bg, transparent),
			inverse-disabled-color: make-var(button-secondary-outlined-inverse-disabled-color, color("secondary.600")),
			inverse-disabled-bg: make-var(button-secondary-outlined-inverse-disabled-bg, color("secondary.700")),
			inverse-disabled-border-color: make-var(button-secondary-outlined-inverse-disabled-border-color, color("secondary.600")),
		),
		base: (
			color: make-var(button-secondary-base-color, color("secondary")),
			hover-bg: make-var(button-secondary-base-hover-bg, color("secondary.300")),
			hover-color: make-var(button-secondary-base-hover-color, color("secondary")),
			active-bg: make-var(button-secondary-base-active-bg, color("secondary.400")),
			disabled-color: make-var(button-secondary-base-disabled-color, color("secondary.600")),
			inverse-color: make-var(button-secondary-base-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-secondary-base-inverse-bg, transparent),
			inverse-hover-color: make-var(button-secondary-base-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-secondary-base-inverse-hover-bg, color("secondary.700")),
			inverse-active-color: make-var(button-secondary-base-inverse-active-color, color("secondary")),
			inverse-active-bg: make-var(button-secondary-base-inverse-active-bg, color("secondary.600")),
			inverse-disabled-color: make-var(button-secondary-base-inverse-disabled-color, color("secondary.600")),
			inverse-disabled-bg: make-var(button-secondary-base-inverse-disabled-bg, color("secondary.700")),
		),
		link: (
			color: make-var(button-secondary-link-color, color("secondary")),
			hover-bg: make-var(button-secondary-link-hover-bg, transparent),
			hover-color: make-var(button-secondary-link-hover-color, color("secondary")),
			active-color: make-var(button-primary-link-active-color, color("secondary")),
			active-bg: make-var(button-secondary-link-active-bg, transparent),
			disabled-color: make-var(button-secondary-link-disabled-color, color("secondary.600")),
			inverse-color: make-var(button-secondary-link-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-secondary-link-inverse-bg, transparent),
			inverse-hover-color: make-var(button-secondary-link-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-secondary-link-inverse-hover-bg, transparent),
			inverse-active-color: make-var(button-secondary-link-inverse-active-color, color("secondary.500")),
			inverse-active-bg: make-var(button-secondary-link-inverse-active-bg, transparent),
			inverse-disabled-color: make-var(button-secondary-link-inverse-disabled-color, color("secondary.600")),
			inverse-disabled-bg: make-var(button-secondary-link-inverse-disabled-bg, transparent),
		),
	),
	$variant-error: (
		solid: (
			bg: make-var(button-error-solid-bg, color("error")),
			color: make-var(button-error-solid-color, color("neutral.white")),
			disabled-bg: make-var(button-error-solid-disabled-bg, color("error.200")),
			disabled-color: make-var(button-error-solid-disabled-color, color("neutral.white")),
			hover-bg: make-var(button-error-solid-hover-bg, color("error.500")),
			hover-color: make-var(button-error-solid-hover-color, color("neutral.white")),
			active-bg: make-var(button-error-solid-active-bg, color("error.600")),
			inverse-color: make-var(button-error-solid-inverse-color, color("error")),
			inverse-bg: make-var(button-error-solid-inverse-bg, color("error.200")),
			inverse-hover-bg: make-var(button-error-solid-inverse-hover-bg, color("error.500")),
			inverse-hover-color: make-var(button-error-solid-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-error-solid-inverse-active-bg, color("error.600")),
			inverse-focus-bg: make-var(button-error-solid-inverse-focus-bg, color("neutral.white")),
			inverse-disabled-color: make-var(button-error-solid-inverse-disabled-color, color("error.400")),
			inverse-disabled-bg: make-var(button-error-solid-inverse-disabled-bg, color("error.300")),
		),
		outlined: (
			border: make-var(button-error-outlined-border, color("error")),
			color: make-var(button-error-outlined-color, color("error")),
			hover-bg: make-var(button-error-outlined-hover-bg, color("error.100")),
			hover-color: make-var(button-error-outlined-hover-color, color("error")),
			active-bg: make-var(button-error-outlined-active-bg, color("error.200")),
			disabled-bg: make-var(button-error-outlined-disabled-bg, transparent),
			disabled-color: make-var(button-error-outlined-disabled-color, color("error.200")),
			disabled-border: make-var(button-error-outlined-disabled-border, color("error.200")),
			inverse-color: make-var(button-error-outlined-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-error-outlined-inverse-bg, transparent),
			inverse-border: make-var(button-error-outlined-inverse-border, color("neutral.white")),
			inverse-hover-bg: make-var(button-error-outlined-inverse-hover-bg, color("error.500")),
			inverse-hover-color: make-var(button-error-outlined-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-error-outlined-inverse-active-bg, color("error.400")),
			inverse-focus-bg: make-var(button-error-outlined-inverse-focus-bg, transparent),
			inverse-disabled-color: make-var(button-error-outlined-inverse-disabled-color, color("error.400")),
			inverse-disabled-bg: make-var(button-error-outlined-inverse-disabled-bg, color("error.300")),
			inverse-disabled-border-color: make-var(button-error-outlined-inverse-disabled-border-color, color("error.400")),
		),
		base: (
			color: make-var(button-error-base-color, color("error")),
			hover-bg: make-var(button-error-base-hover-bg, color("error.100")),
			hover-color: make-var(button-error-base-hover-color, color("error")),
			active-bg: make-var(button-error-base-active-bg, color("error.200")),
			disabled-color: make-var(button-error-base-disabled-color, color("error.200")),
			inverse-color: make-var(button-error-base-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-error-base-inverse-bg, transparent),
			inverse-hover-color: make-var(button-error-base-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-error-base-inverse-hover-bg, color("error.500")),
			inverse-active-color: make-var(button-error-base-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-error-base-inverse-active-bg, color("error.400")),
			inverse-disabled-color: make-var(button-error-base-inverse-disabled-color, color("error.400")),
			inverse-disabled-bg: make-var(button-error-base-inverse-disabled-bg, color("error.300")),
		),
		link: (
			color: make-var(button-error-link-color, color("error")),
			hover-bg: make-var(button-error-link-hover-bg, transparent),
			hover-color: make-var(button-error-link-hover-color, color("error")),
			active-color: make-var(button-primary-link-active-color, color("error.500")),
			active-bg: make-var(button-error-link-active-bg, transparent),
			disabled-color: make-var(button-error-link-disabled-color, color("error.200")),
			inverse-color: make-var(button-error-link-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-error-link-inverse-bg, transparent),
			inverse-hover-color: make-var(button-error-link-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-error-link-inverse-hover-bg, transparent),
			inverse-active-color: make-var(button-error-link-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-error-link-inverse-active-bg, transparent),
			inverse-disabled-color: make-var(button-error-link-inverse-disabled-color, color("error.200")),
			inverse-disabled-bg: make-var(button-error-link-inverse-disabled-bg, transparent),
		),
	),
	$variant-success: (
		solid: (
			bg: make-var(button-success-solid-bg, color("success.500")),
			color: make-var(button-success-solid-color, color("neutral.white")),
			disabled-bg: make-var(button-success-solid-disabled-bg, color("success.200")),
			disabled-color: make-var(button-success-solid-disabled-color, color("neutral.white")),
			hover-bg: make-var(button-success-solid-hover-bg, color("success.600")),
			hover-color: make-var(button-success-solid-hover-color, color("neutral.white")),
			active-bg: make-var(button-success-solid-active-bg, color("success.700")),
			inverse-color: make-var(button-success-solid-inverse-color, color("success")),
			inverse-bg: make-var(button-success-solid-inverse-bg, color("success.200")),
			inverse-hover-bg: make-var(button-success-solid-inverse-hover-bg, color("success.700")),
			inverse-hover-color: make-var(button-success-solid-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-success-solid-inverse-active-bg, color("success.800")),
			inverse-focus-bg: make-var(button-success-solid-inverse-focus-bg, color("neutral.white")),
			inverse-disabled-color: make-var(button-success-solid-inverse-disabled-color, color("success.400")),
			inverse-disabled-bg: make-var(button-success-solid-inverse-disabled-bg, color("success.300")),
		),
		outlined: (
			border: make-var(button-success-outlined-border, color("success.500")),
			color: make-var(button-success-outlined-color, color("success.500")),
			hover-bg: make-var(button-success-outlined-hover-bg, color("success.100")),
			hover-color: make-var(button-success-outlined-hover-color, color("success.500")),
			active-bg: make-var(button-success-outlined-active-bg, color("success.200")),
			disabled-bg: make-var(button-success-outlined-disabled-bg, transparent),
			disabled-color: make-var(button-success-outlined-disabled-color, color("success.300")),
			disabled-border: make-var(button-success-outlined-disabled-border, color("success.300")),
			inverse-color: make-var(button-success-outlined-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-success-outlined-inverse-bg, transparent),
			inverse-border: make-var(button-success-outlined-inverse-border, color("neutral.white")),
			inverse-hover-bg: make-var(button-success-outlined-inverse-hover-bg, color("success.500")),
			inverse-hover-color: make-var(button-success-outlined-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-success-outlined-inverse-active-bg, color("success.400")),
			inverse-focus-bg: make-var(button-success-outlined-inverse-focus-bg, transparent),
			inverse-disabled-color: make-var(button-success-outlined-inverse-disabled-color, color("success.400")),
			inverse-disabled-bg: make-var(button-success-outlined-inverse-disabled-bg, color("success.300")),
			inverse-disabled-border-color: make-var(button-success-outlined-inverse-disabled-border-color, color("success.400")),
		),
		base: (
			color: make-var(button-success-base-color, color("success.500")),
			hover-bg: make-var(button-success-base-hover-bg, color("success.100")),
			hover-color: make-var(button-success-base-hover-color, color("success.500")),
			active-bg: make-var(button-success-base-active-bg, color("success.200")),
			disabled-color: make-var(button-success-base-disabled-color, color("success.300")),
			inverse-color: make-var(button-success-base-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-success-base-inverse-bg, transparent),
			inverse-hover-color: make-var(button-success-base-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-success-base-inverse-hover-bg, color("success.600")),
			inverse-active-color: make-var(button-success-base-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-success-base-inverse-active-bg, color("success.500")),
			inverse-disabled-color: make-var(button-success-base-inverse-disabled-color, color("success.400")),
			inverse-disabled-bg: make-var(button-success-base-inverse-disabled-bg, color("success.300")),
		),
		link: (
			color: make-var(button-success-link-color, color("success.500")),
			hover-bg: make-var(button-success-link-hover-bg, transparent),
			hover-color: make-var(button-success-link-hover-color, color("success.500")),
			active-color: make-var(button-primary-link-active-color, color("success.600")),
			active-bg: make-var(button-success-link-active-bg, transparent),
			disabled-color: make-var(button-success-link-disabled-color, color("success.300")),
			inverse-color: make-var(button-success-link-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-success-link-inverse-bg, transparent),
			inverse-hover-color: make-var(button-success-link-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-success-link-inverse-hover-bg, transparent),
			inverse-active-color: make-var(button-success-link-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-success-link-inverse-active-bg, transparent),
			inverse-disabled-color: make-var(button-success-link-inverse-disabled-color, color("success.400")),
			inverse-disabled-bg: make-var(button-success-link-inverse-disabled-bg, transparent),
		),
	),
	$variant-warning: (
		solid: (
			bg: make-var(button-warning-solid-bg, color("warning.500")),
			color: make-var(button-warning-solid-color, color("neutral.white")),
			disabled-bg: make-var(button-warning-solid-disabled-bg, color("warning.200")),
			disabled-color: make-var(button-warning-solid-disabled-color, color("neutral.white")),
			hover-bg: make-var(button-warning-solid-hover-bg, color("warning.600")),
			hover-color: make-var(button-warning-solid-hover-color, color("neutral.white")),
			active-bg: make-var(button-warning-solid-active-bg, color("warning.700")),
			inverse-color: make-var(button-warning-solid-inverse-color, color("warning")),
			inverse-bg: make-var(button-warning-solid-inverse-bg, color("warning.200")),
			inverse-hover-bg: make-var(button-warning-solid-inverse-hover-bg, color("warning.700")),
			inverse-hover-color: make-var(button-warning-solid-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-warning-solid-inverse-active-bg, color("warning.800")),
			inverse-focus-bg: make-var(button-warning-solid-inverse-focus-bg, color("neutral.white")),
			inverse-disabled-color: make-var(button-warning-solid-inverse-disabled-color, color("warning.400")),
			inverse-disabled-bg: make-var(button-warning-solid-inverse-disabled-bg, color("warning.300")),
		),
		outlined: (
			border: make-var(button-warning-outlined-border, color("warning.500")),
			color: make-var(button-warning-outlined-color, color("warning.500")),
			hover-bg: make-var(button-warning-outlined-hover-bg, color("warning.200")),
			hover-color: make-var(button-warning-outlined-hover-color, color("warning.500")),
			active-bg: make-var(button-warning-outlined-active-bg, color("warning.300")),
			disabled-bg: make-var(button-warning-outlined-disabled-bg, transparent),
			disabled-color: make-var(button-warning-outlined-disabled-color, color("warning")),
			disabled-border: make-var(button-warning-outlined-disabled-border, color("warning")),
			inverse-color: make-var(button-warning-outlined-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-warning-outlined-inverse-bg, transparent),
			inverse-border: make-var(button-warning-outlined-inverse-border, color("neutral.white")),
			inverse-hover-bg: make-var(button-warning-outlined-inverse-hover-bg, color("warning.500")),
			inverse-hover-color: make-var(button-warning-outlined-inverse-hover-color, color("neutral.white")),
			inverse-active-bg: make-var(button-warning-outlined-inverse-active-bg, color("warning.400")),
			inverse-focus-bg: make-var(button-warning-outlined-inverse-focus-bg, transparent),
			inverse-disabled-color: make-var(button-warning-outlined-inverse-disabled-color, color("warning.400")),
			inverse-disabled-bg: make-var(button-warning-outlined-inverse-disabled-bg, color("warning.300")),
			inverse-disabled-border-color: make-var(button-warning-outlined-inverse-disabled-border-color, color("warning.400")),
		),
		base: (
			color: make-var(button-warning-base-color, color("warning.500")),
			hover-bg: make-var(button-warning-base-hover-bg, color("warning.200")),
			hover-color: make-var(button-warning-base-hover-color, color("warning.500")),
			active-bg: make-var(button-warning-base-active-bg, color("warning.300")),
			disabled-color: make-var(button-warning-base-disabled-color, color("warning")),
			inverse-color: make-var(button-warning-base-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-warning-base-inverse-bg, transparent),
			inverse-hover-color: make-var(button-warning-base-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-warning-base-inverse-hover-bg, color("warning.500")),
			inverse-active-color: make-var(button-warning-base-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-warning-base-inverse-active-bg, color("warning.400")),
			inverse-disabled-color: make-var(button-warning-base-inverse-disabled-color, color("warning.400")),
			inverse-disabled-bg: make-var(button-warning-base-inverse-disabled-bg, color("warning.300")),
		),
		link: (
			color: make-var(button-warning-link-color, color("warning.500")),
			hover-bg: make-var(button-warning-link-hover-bg, transparent),
			hover-color: make-var(button-warning-link-hover-color, color("warning.500")),
			active-color: make-var(button-primary-link-active-color, color("warning.600")),
			active-bg: make-var(button-warning-link-active-bg, transparent),
			disabled-color: make-var(button-warning-link-disabled-color, color("warning")),
			inverse-color: make-var(button-warning-link-inverse-color, color("neutral.white")),
			inverse-bg: make-var(button-warning-link-inverse-bg, transparent),
			inverse-hover-color: make-var(button-warning-link-inverse-hover-color, color("neutral.white")),
			inverse-hover-bg: make-var(button-warning-link-inverse-hover-bg, transparent),
			inverse-active-color: make-var(button-warning-link-inverse-active-color, color("neutral.white")),
			inverse-active-bg: make-var(button-warning-link-inverse-active-bg, transparent),
			inverse-disabled-color: make-var(button-warning-link-inverse-disabled-color, color("warning.400")),
			inverse-disabled-bg: make-var(button-warning-link-inverse-disabled-bg, transparent),
		),
	),
);

$chip-inverse-variants: (
	$variant-primary: (
		"bg": make-var(chip-inverse-primary-bg, color("primary.100")),
		"color": make-var(chip-inverse-primary-color, color("primary")),
		"border-color": make-var(chip-inverse-primary-border-color, color("primary.200")),
		"border-color-hover": make-var(chip-inverse-primary-border-color-hover, color("primary.200")),
	),
	$variant-secondary: (
		"bg": make-var(chip-inverse-secondary-bg, color("secondary.200")),
		"color": make-var(chip-inverse-secondary-color, color("secondary.900")),
		"border-color": make-var(chip-inverse-secondary-border-color, color("secondary.400")),
		"border-color-hover": make-var(chip-inverse-secondary-border-color-hover, color("secondary.400")),
	),
	$variant-success: (
		"bg": make-var(chip-inverse-success-bg, color("success.100")),
		"color": make-var(chip-inverse-success-color, color("success.600")),
		"border-color": make-var(chip-inverse-success-border-color, color("success.200")),
		"border-color-hover": make-var(chip-inverse-success-border-color-hover, color("success.200")),
	),
	$variant-warning: (
		"bg": make-var(chip-inverse-warning-bg, color("warning.100")),
		"color": make-var(chip-inverse-warning-color, color("warning.600")),
		"border-color": make-var(chip-inverse-warning-border-color, color("warning.200")),
		"border-color-hover": make-var(chip-inverse-warning-border-color-hover, color("warning.200")),
	),
	$variant-error: (
		"bg": make-var(chip-inverse-error-bg, color("error.100")),
		"color": make-var(chip-inverse-error-color, color("error.500")),
		"border-color": make-var(chip-inverse-error-border-color, color("error.200")),
		"border-color-hover": make-var(chip-inverse-error-border-color-hover, color("error.200")),
	),
);
