/*
 -	Variables - Form password power
 */

$form-password-power-height: make-var("form-password-power-height", rem-calc(4));
$form-password-power-radius: make-var("form-password-power-radius", rem-calc(2));
$form-password-power-color: make-var("form-password-power-color", color("secondary.600"));
$form-password-power-color-weak: make-var("form-password-power-color-weak", color("error"));
$form-password-power-color-medium: make-var("form-password-power-color-medium", color("warning.500"));
$form-password-power-color-strong: make-var("form-password-power-color-strong", color("success.500"));
