/*
 -  Variables - Variants
 */

$variant-primary: "primary";
$variant-secondary: "secondary";
$variant-error: "error";
$variant-warning: "warning";
$variant-success: "success";
$variant-custom: "custom";
