gov-message:not(.hydrated) {
	position: relative;
	display: flex;
	gap: rem-calc(16);
	flex-direction: column;
	padding: rem-calc(12 16);
	border-left: rem-calc(4) solid transparent;
	background: $toast-message-bg;

	gov-icon {
		flex: 0 0 rem-calc(20);
		width: rem-calc(20);
		height: rem-calc(20);
	}
	p {
		flex: 1 1 auto;
		@include reset-last-margin();
		@include typography($font-size-m);
	}

	// MQ
	@include mq($from: sm) {
		flex-direction: row;
	}

	@include parameter("shadow") {
		box-shadow: $message-box-shadow;
	}

	@each $variant, $definitions in $message-variants {
		&[variant="#{$variant}"] {
			border-left-color: get("color", $definitions);
			background: get("bg-color", $definitions);
			gov-icon {
				color: get("color", $definitions);
			}
			@include parameter("inverse") {
				background: $message-bg-inverse;
			}
		}
	}
}
